@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

#wrapper{
    background-image: url('bg.jpg');
    width: 100vw;
    height: 100vh;
    object-fit: cover;
    background-position: center;
    background-size: cover;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

h1{
    font-size: 60px;
    background: linear-gradient(to right, #ff0000, #ffff00, #00ff00, #00ffff, #0000ff, #ff00ff, #ff0000);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
}

.container{
    max-width: 600px;
    width: 90%;
    height: fit-content;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: rgba(0,0,0,0.8);
    padding: 3rem;
    border-radius: 20px;
    gap: 40px;
}

.coutdown-container{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 50px;
}

.text-big{
    text-align: center;
    font-size: 50px;
    font-weight: 600;
}

.center{
    text-align: center;
}
